@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');

html{
  background-image: url("C:\Visual Studio Projects\Weather app\react-weather-app\public\Images\bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.App{
  color: rgb(245, 245, 245);
  background-color: #00000094;
  border-radius: 20px;
  width: 45%;
  font-family: Cairo;
  font-weight: 700;
}

#root{
  height: 98.5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input, input:focus{
  display: block;
  width: 90%;
  margin: 1% auto;
  color: white;
  font-size: 0.9em;
  background-color: transparent;
  border-radius: 10px;
  border: 3px solid rgba(202, 202, 202, 0.829);
  padding: 1.5%;
}
input::placeholder{
  color: rgb(204, 204, 204);
}

.weather-box{
  text-align: center;
}

.details{
  margin-top: 3%;
  font-size: larger;
}

#degrees{
  padding: 2%;
  background: #00000094;
  width: 45%;
  margin: 0 auto;
}

h1,h2{
  margin-top: 2%;
  text-align: center;
}



